/**
 * Less 基础定义。
 * 
 * @since 2015-08-21
 * @version 1.0
 * @author Luowen
 */


@color: #333;
@themeColor: #42AF8F;
@font-size: 14px;
@line-height: 1.5;
@font-family: "Microsoft Yahei";

@px12: 12px;
@px14: 14px;
@px16: 16px;
@px20: 20px;
@px24: 24px;
@px30: 30px;
@px32: 32px;
@px60: 60px;

@quality: #d89cdd;//#d89add;
@event: #f98141;//#f9823e;
@repair: #b3b200;//#5aa7c5;
@tool: #6979b7;//#86cccc;
@work: #5ca637;//#72b633;
@pool: #15a5a7;//#00a5a7;
@parameter: #f9c331;//#FAC41B;
@green: #42AF8F;
@tooltip: #a8b8cc;
