.DS_Store
node_modules/
dist/
npm-debug.log
.idea
.cache-loader
.vscode
npm-debug.log
/project/theme/*
project/src/assets/js/configs.js
.gitignore
.cache-loader
.static
.project
/project/src/pages/test
